@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 195px 0 195px;
            grid-template-columns: repeat(1,425px);
        }
    }
    .using {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
            display: flex;
            flex-direction: column;
        }
        .using__skills {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &-item {
                width: 84%;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .price-list {
        &__wrapper {
            justify-content: center;
            column-gap: 100px;
            row-gap: 20px;
        }
    }
    .contacts {
        &__photo {
            padding-right: 48px;
        }
        &__textarea {
            width: 80%;
        }
        &__input {
            width: 59%;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .using {
        &__wrapper {
            margin-top: 40px;
            padding: 0 94px 0 94px;
            grid-template-columns: repeat(2,270px);
        }
        &__skills {
            grid-template-columns: repeat(2,350px);
        }
    }
    .price-list {
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 280px);
            padding-top: 20px;
        }
    }
    .contacts {
        .contacts__photo {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
        &__descr {
            padding-top: 395px;
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 70px 0 70px;;
            grid-template-columns: repeat(1,425px);
        }
        &__item {
            width: 295px;
            position: relative;
        }
    }
    .using {
        &__wrapper {
            padding: 60px 0 0 0px;
            grid-template-columns: repeat(2,270px)
        }
        .using__skills {
            grid-template-columns: repeat(2,255px);
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 10px 0 10px;
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }
        &__form {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        &__input {
            height: 45px;
        }
        &__textarea {
            height: 143px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        &__descr {
            padding-top: 415px;
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 0 0 0;
            grid-template-columns: repeat(1,425px);
        }
        &__item {
            width: 295px;
            position: relative;
        }
        &__column {
            width: 1px;
            margin-bottom: 45px;
        }
        &__column-title {
            width: 300px;
        }
    }
    .using {
        &__wrapper {
            grid-template-columns: repeat(1,270px);
            display: flex;
            flex-direction: column;
        }
        .using__skills {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &-item {
                width: 84%;
            }
        }
    }
    .price-list {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
}